<% content_for :info do %>
  <div class="categories">
    <p>
      <div class="date_header"><%="#{@time.getlocal(@info["timezone"]).strftime("%A, %B %d")}"%></div>
    </p>
    <p><%="local time in #{@info["name"]} is #{@time.getlocal(@info["timezone"]).strftime("%I:%M %p")}"%></p>
    <p><img src="http://openweathermap.org/img/wn/<%=@info["weather"].first["icon"]%>@2x.png"></p>
    <p>
      <div class="date_header"><b><%="#{@info["main"]["temp"]} °F" %></b></div>
    </p>
    <p><%="#{@info["weather"].first["main"]}"%></p>
    <p><%="#{@info["weather"].first["description"]}"%></p>
    <p><%= "wind speed is #{@info["wind"]["speed"]} mph #{wind_direction(@info["wind"]["deg"].to_f)} 💨" %></p>
    <p><%= "#{@info["main"]["humidity"]}% humidity; #{@info["clouds"]["all"]}% cloud coverage"%></p>
    <p><%= "visibility is #{@info["visibility"].to_f/1000.00} km"%></p>
    <p><%="#{Time.at(@info["sys"]["sunset"]).strftime("%I:%M %p")} ⬇ 🌞 ⬆ #{Time.at(@info["sys"]["sunrise"]).strftime("%I:%M %p")}"%></p>
    <p><%=@info%></p>
    <form method="get" action="/search" >
      <input class="button" type="submit" value="back" name="">
    </form>
  </div>
<% end %>
